/**reset**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calendario {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-control-prev-icon {
  color: blueviolet;
}

/* Centrar imágenes */
.carousel-item img {
  display: block;
  margin: 0 auto;
}

/* Cambiar color del ícono de "anterior" en hover */
.carousel-control-prev:hover .carousel-control-prev-icon {
  color: red;
}

/* Cambiar color del ícono de "siguiente" en hover */
.carousel-control-next:hover .carousel-control-next-icon {
  color: green;
}