*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tituloqs{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #540a3e;
    background-color: #fae6f4;
}
.parrafoqs{
    border-style: double;
    text-indent: 10px;
    align-items: center;
    text-align: center;
    margin: 0px 100px 0px 100px;
    background-color: #fae6f4;

}

.imgqs{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgqs img{
height: 320px;
width: 450px;
}

  
/** ESTILOS video seccion quienes somos?**/

.videohuerta{
    display: flex;
    align-items: center;
    justify-content: center;
}
video{
    width: 450px;
    height: 320px;
}
  
  