/** ############ESTILOS DEL DOCUMENTO INDEX.HTML############**/

/**reset**/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/** ESTILOS SECCIONES CONECTADAS POR**/
/** ESTILOS HEADER**/
.headerbienvenida{
  display: flex;
  background-image:url(../assets/fondoheader.png);
  height: 165px;
  flex-direction: column;
}
/** ESTILOS h1 header**/
.bienvenida{
  text-align: center;
  align-items: center;
  font-family: fantasy;
  color: #540a3e;  
  text-shadow: 10px 10px 10px #fae6f4, 5px 5px 5px #cfacc5;
}
.resaltado{
  background-color: #fae6f4;
  color: #540a3e;
}

/**estilos barra de navegacion**/
.barranav{
    display: flex;
}
.navbar {  
    width: 100%;
    background-color: #f2edf0!important; 
    height: 50px; 
}
.titulosnav{
  text-align: center;
  padding: 0px 6px 0px 11px;
  color: #3d062c;
}
/**estilos iconos de la barra de navegacion**/
.icon-container {
  background-color: #f2edf0!important;
  display: flex;
  position: relative;
  top: 0px; 
  right:0px;
  bottom:0px;
  left: 550px;
  list-style: none;
}
.icon-container img {
  height: 33px;
  width: 33px;
}
.icon-container a{
  margin-right: 15px
}

   /**estilos seccion FOOTER**/
   .footerclass {
    background-color: #f2edf0;
    width: 100%;
    height: 200px;
  }
  
  .listfooter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon-containerfooter {
    background-color: #f2edf0!important;
    display: flex;
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 120px;
    list-style: none;
  }
  
  .icon-containerfooter img {
    height: 33px;
    width: 33px;
  }
  
  .icon-containerfooter a {
    margin-right: 15px;
  }
  
  .titulosnavfooter {
    text-align: center;
    font-size: 25px;
    padding: 0px 6px 0px 11px;
    color: #3d062c;
  }
  
  .parrafofooter {
    text-align: center;
    vertical-align: text-bottom;
    font-size: 12px;
  }
  .imgfooter{
    display: flex;
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin-left: 300px;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
  }  









   /**estilos seccion FORMULARIO**/













/**estilos carousel inicio**/
.carousel {
    position: relative;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff !important;  
    width: 100%;
    margin: 0;
    padding: 0;
  }
  /**estilos imagenes carousel inicio**/
 .imgcar{
    padding: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;;
    margin: 0px 0px 0px 0px;
  }
  /**estilos  carousel inner inicio**/
.carousel-inner {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  /**estilos seccion  QUIENES SOMOS**/
  .quienessomos{
    position: relative;
    background-color:fffff;
  }
   /**estilos seccion HUERTA**/
  .huerta{
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }   
.container {
  display: flex;
}
  
.carouselh {
  width: 33.33%;
}
 /**estilos PARRAFO PRINCIPAL**/
.parrafoprincipal {
    text-indent: 1em;
    margin: 0 10%;
    text-align: justify;
    font-size: 18px;
  }
   /**estilos IMAGEN QUIENES SOMOS**/
  .portada {
    width: 75%;
    height: auto;
    display: block;
    margin: auto;
    top: 50px;
  }
 /**estilos TITULO DE LAS SECCIONES**/
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #1c4e1b;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #cfacc5!important;
}

  