/** ############ESTILOS DEL DOCUMENTO INDEX.HTML############**/

/**reset**/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/** ESTILOS SECCIONES CONECTADAS POR**/
/** ESTILOS HEADER**/
 header {
  background-image:url(../assets/fondoheader.png);
  height: 150px;
  background-size: cover;
  display: grid;
  place-items: center;
}
/** ESTILOS h1 header**/
.bienvenida{
  text-align: center;
  align-items: center;
  font-family: fantasy;
  color: #540a3e;  
  text-shadow: 10px 10px 10px #fae6f4, 5px 5px 5px #cfacc5;
}
.resaltado{
  background-color: #fae6f4;
  color: #540a3e;
}

   /**estilos seccion NAVBAR**/

.barranav{
  background-color: #f2edf0 !important;

}

   /**estilos seccion FOOTER**/
.footerclass {
  position: relative;
  top: 100px;
  background-color: #f2edf0;
  width: 100%;
  height: 200px;
}

.listfooter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-containerfooter {
  background-color: #f2edf0!important;
  display: flex;
  align-items: center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  list-style: none;
}

.desplazamiento {
  transform: translateX(-200px);
}

.icon-containerfooter li a {
  text-decoration: none;
}

.icon-containerfooter li a:hover,
.icon-containerfooter li a:active {
  text-decoration: none;
}

.listfooter li h6 {
  margin: 0;
  padding: 0;
  display: inline;
  text-decoration: none;
  color: #3d062c;
  font-size: 25px;
}

.icon-containerfooter img {
  height: 33px;
  width: 33px;
}

.icon-containerfooter a {
  margin-right: 15px;
}

.titulosnavfooter {
  text-align: center;
  font-size: 25px;
  padding: 0px 6px 0px 11px;
  color: #3d062c;
}

.parrafofooter {
  text-align: center;
  vertical-align: text-bottom;
  font-size: 12px;
}
.imgfooter{
  display: flex;
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin-left: 200px;
  width: fit-content;
  height: fit-content;
}  






 