/** ############ESTILOS DEL DOCUMENTO INDEX.HTML############**/

/**reset**/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/** ESTILOS HEADER**/
.headerbienvenida{
  display: flex;
  background-image:url(/assets/fondoheader.png);
  height: 180px;
  flex-direction: column;
}
/** ESTILOS h1 header**/
.bienvenida{
  text-align: center;
  align-items: center;
  font-family: fantasy;
  color: #540a3e;  
  text-shadow: 10px 10px 10px #fae6f4, 5px 5px 5px #cfacc5;
}

/**estilos barra denavegacion**/
.barranav{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.navbar {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f7d5c4!important;  
}

/**estilos carousel inicio**/
.carousel {
    position: relative;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff !important;  
    width: 100%;
    margin: 0;
    padding: 0;
  }
  /**estilos imagenes carousel inicio**/
 .imgcar{
    padding: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;;
    margin: 0px 0px 0px 0px;
  }
  /**estilos  carousel inner inicio**/
.carousel-inner {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  /**estilos seccion  QUIENES SOMOS**/
  .quienessomos{
    position: relative;
    background-color:fffff;
  }
   /**estilos seccion HUERTA**/
  .huerta{
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }   
.container {
  display: flex;
}
  
.carouselh {
  width: 33.33%;
}
 /**estilos PARRAFO PRINCIPAL**/
.parrafoprincipal {
    text-indent: 1em;
    margin: 0 10%;
    text-align: justify;
    font-size: 18px;
  }
   /**estilos IMAGEN QUIENES SOMOS**/
  .portada {
    width: 75%;
    height: auto;
    display: block;
    margin: auto;
    top: 50px;
  }
 /**estilos TITULO DE LAS SECCIONES**/
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #1c4e1b;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f7d5c4!important;
}
   /**estilos seccion FOOTER**/
   .footerclass {
    width: 100%;
    background-image: url('ruta-de-la-imagen');
    background-size: cover;
    background-position: center;
    background-color:#e9cfc2!important ;
    height: 500px;
  }
   /**estilos seccion lista del footer**/
.listfooter{
  display: flex;
  justify-content: center;
  align-items: center; 
}
.logoig{
  width: 200px;
  height: 200px;
}
   /**estilos seccion FORMULARIO**/
 /**estilos seccion  CONTACTO**
  