.barra{
    background-color: #127821;
    margin: 10px, 10px, 10px, 10px
}
.barra .botones{
    background-color: #dc3599;
}
.quienessomos{
    background-color: rgb(101, 252, 60);
}
.quienessomos .imagenacelga{
    width: 600px;
    height: 500px;
    background-position: center;
}
.fondo{
    background-image: url(./assets/fondo.jpg);
    background-size: 600px;
    background-repeat: no-repeat;
}
.fondo .plantas {
    text-align: left;
    color: #ff0000;
    font-size: 25px;
}

.fondo .plantas .tipos{
    list-style-type: none;
    font-size: 20px;
}
.caja1{
    width: 200px;
    height: 150px;
    background-color: #f4eff2;
    border:2px solid #040404;
    display: inline;
}
.caja2{
    width: 200px;
    height: 150px;
    background-color: #f5f4f4;
    border: 2px solid black;
}
.caja3{
    width: 200px;
    height: 150px;
    background-color: #eef0e9;
    border:2px solid #000000;
}
.caja4{
    width: 200px;
    height: 150px;
    background-color: #ffffff;
    border: 2px solid #050505;
}
.caja5{
    width: 200px;
    height: 150px;
    background-color: #ffffff;
    border:2px solid #080808;
}
.caja6{
    width: 200px;
    height: 150px;
    background-color: #fdfdfd;
    border:2px solid #090909;
}
